{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Main Content -->
<main class="flex-grow container mx-auto p-4 md:p-8 bg-amber-100 my-16">
    <div class="max-w-4xl mx-auto bg-cream p-6 md:p-8 rounded-lg">
        <h1 class="text-2xl md:text-3xl font-bold text-brown-dark mb-4">हम से सम्पर्क करें</h1>

        <hr class="border-brown my-4">

        <div class="mb-6">
            <p class="text-brown-dark">प्रिय पाठक,</p>
            <p class="text-brown-dark mt-2">अपना कोई भी प्रश्न भेजने से पहले कृपया एक बार आप सामान्यतया पूछे जाने वाले
                प्रश्न पेज पर जाकर अपने प्रश्न का उत्तर खोजने की कोशिश करें, अगर आपको अपने प्रश्न का उत्तर या अपनी
                समस्या का समाधान नहीं मिलता तो निम्न फॉर्म का प्रयोग करें!</p>
        </div>

        <form id="contact-form" class="space-y-4">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                <label for="name" class="text-brown-dark font-medium md:text-right">Your Name</label>
                <div class="md:col-span-3">
                    <input type="text" id="name" placeholder="Enter your name"
                           class="w-full p-3 border border-brown-light rounded focus:outline-none focus:ring-2 focus:ring-brown-light">
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                <label for="email" class="text-brown-dark font-medium md:text-right">Email</label>
                <div class="md:col-span-3">
                    <input type="email" id="email" placeholder="Enter you valid email"
                           class="w-full p-3 border border-brown-light rounded focus:outline-none focus:ring-2 focus:ring-brown-light">
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                <label for="subject" class="text-brown-dark font-medium md:text-right">Subject</label>
                <div class="md:col-span-3">
                    <input type="text" id="subject" placeholder="Your message subject"
                           class="w-full p-3 border border-brown-light rounded focus:outline-none focus:ring-2 focus:ring-brown-light">
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-start">
                <label for="message" class="text-brown-dark font-medium md:text-right pt-3">Message</label>
                <div class="md:col-span-3">
                    <textarea id="message" rows="8" placeholder="Your message"
                              class="w-full p-3 border border-brown-light rounded focus:outline-none focus:ring-2 focus:ring-brown-light"></textarea>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="md:col-start-2 md:col-span-3">
                    <button
                            class="bg-orange-600 hover:bg-brown-dark text-white font-bold py-2 px-6 rounded transition duration-300">
                        संदेश भेजें
                    </button>
                </div>
            </div>
        </form>
        <div id="alert" class="hidden p-4 mt-4 text-center text-white rounded-lg"></div>
    </div>
</main>


<script src="{% static 'js/contact.js' %}"></script>

{% endblock %}

